<% content_for(:head) do %>
  <script src="https://www.google.com/jsapi"></script>
  <script>
    google.load("visualization", "1", {packages:["corechart", "charteditor"]});
    $(function() {
      var derivers = $.pivotUtilities.derivers;
      var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.gchart_renderers);

      $.getJSON('<%=kapa_report_data_set_path(:id => @data_set, :action => :feed)%>', function(response) {
        var data = response['data'];
        data.unshift(response['data_columns']);
        $("#output").pivotUI(data, {renderers: renderers});
      });
    });
  </script>
<% end %>

<% content_for(:box1) do %>
  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    <%=@data_set.name %>
  </h4>

  <div id="output">
    <!-- Dynamically generated content -->
  </div>
<%end%>
