<% content_for(:box1) do %>

  <h4 class="section-header">
    <%= link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New Data Set
  </h4>

  <%= bootstrap_form_for :dataset, :url => kapa_report_ddataset_path do |f| %>
    <%= render :partial => '/kapa/report/dataset_form' %>
    <%= render :partial => "/kapa/layouts/controls" if @current_user.manage? %>
  <% end %>

<% end %>
