<% content_for(:box1) do %>
  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New Message Template
  </h4>

  <div class="row">
    <div class="col-sm-8">
    <%=bootstrap_form_for :message_template, :url => kapa_message_templates_path do |f| %>
      <%=f.text_field :title %>
      <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
    <% end %>
    </div>
  </div>
<% end %>
