<%=bootstrap_fields_for :dataset do |f| %>

  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :name%>
      <%=f.select :datasource, @datasource_options %>
    </div>
    <div class="col-sm-6">
      <%=f.text_area :description, :rows => 10 %>
    </div>
  </div>

<% end %>
