<% content_for(:box1) do %>
  <h4 class="section-header divider">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    Message
  </h4>

  <%=bootstrap_form_for :message, :url => kapa_message_path(:id => @message), :html => {:method => :put} do |f| %>
    <%=render :partial => "message_form" %>
    <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
  <% end %>
<%end%>