default: &default
  secret_key_base: 3b7cd727ee24e8444053437c36cc66c3
  datasources:
    mysql:
    adapter: mysql2
    database: kapa_d
    username: vagrant
    password: vagrant
    pool: 5
    timeout: 5000

development:
  <<: *default
test:
  <<: *default
production:
  <<: *default
