<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New School
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#school_profile_tab" data-toggle="tab">Profile</a></li>
    </ul>

    <div class="tab-content">
      <div id="school_profile_tab" class="tab-pane active">
        <%=bootstrap_form_for :practicum_school, :url => kapa_practicum_schools_path do |f| %>
          <%=render :partial => "/kapa/practicum/school_form", :locals => {:f => f}%>
          <%=controls if @current_user.write? %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

