<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New School
  </h4>

  <%=bootstrap_form_for :practicum_school, :url => practicum_schools_path do |f| %>
    <%=render :partial => "/practicum/school_form", :locals => {:f => f}%>
    <%=controls if @current_user.write? %>
  <% end %>

<% end %>

