<% content_for(:box1) do %>

<h4>New School</h4>

<%=label_form_for :practicum_school, :url => {:action => :create} do |f| %>
  <%=render :partial => "/practicum/school_form", :locals => {:f => f}%>
  <%=controls if @current_user.write? %>
<% end %>

<%=link_to "Back", :action => :list %>

<% end %>

