<%=bootstrap_fields_for :permission do |f| %>
  <table id="user_list" class="table table-striped">
    <thead>
      <tr>
        <th>Route</th>
        <th>Access Level</th>
        <th>Data Scope</th>
      </tr>
    </thead>
    <tbody>
      <% Rails.configuration.available_routes.each do |o| %>
        <tr>
          <td><h5><%=o %></h5></td>
          <td><%=f.select "#{o}", Rails.configuration.user_levels, {:label => :no} %></td>
          <td><%=f.select "#{o}_scope", Rails.configuration.user_scopes, {:label => :no}, {} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
