<% content_for(:box1) do %>

<h4 class="section-header">
  <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
  New User
</h4>

<%=bootstrap_form_for :user, :url => kapa_users_path do %>
  <div id="person_form">
    <%=render :partial => "/kapa/persons/person_form" %>
  </div>
  <%=render :partial => "/kapa/layouts/controls" if update? %>
<% end %>

<% end %>
