<% content_for(:box1) do %>

  <%=bootstrap_form_for(:form, :url => artifact_form_path(:id => @form), :remote => true, :html => {:method => :put}) do |f| %>
    <%=f.text_area :note, :text => "Note", :size => "15x10"%>
    <div class="row form-block">
      <div class="col-sm-4">
        <%=f.select :lock, [["Lock", "Y"], ["Unlock", "N"]], :text => "Lock status" %>
      </div>
    </div>
    <%=controls if @current_user.write? :artifact, :dept => @form.dept %>
  <% end %>

<% end %>
