<% content_for(:box1) do %>

  <h4>Welcome</h4>

  <p>
    KAPA provides consolidated information tools to support our student administrative
    procedures including Advising, Admission, Graduation, Praxis, and Field Placement.
  </p>

  <% if @current_user %>
    <p>
      Please select from the menu on the top...
    </p>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-body">

        <%= bootstrap_form_for(:user_session, :url => kapa_login_path) do |f| %>
          <%= f.text_field :uid, :label => "Username" %>
          <%= f.password_field :password %>
          <%= f.submit "Login", :class => "btn btn-default" %>
        <% end %>
      </div>
    </div>
  <% end %>

<% end %>
