<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>  
  <body>
    <p>Greetings,</p>

    <p>This is an automatic email -- please do not reply to it.</p>
    <p>You have successfully signed up to COE Academic Services, and your guest username is "<%=@options[:uid] %>".<br>
       To activate your account, please follow <%=link_to "this link", @options[:url] %>.</p>
    <p>Or, you can paste following URL on your web browser.<br>
    <%=  @options[:url] %>.</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
