<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Greetings,</p>

    <p>This is an automatic email -- please do not reply to it.</p>
    <p>We changed your guest login in our files from <%=@old_uid %> to <%=@new_uid %>.</p>

    <p>If this is correct, you can disregard this email. If the new email address is not correct or you did not request this change,
      please contact us at coetech@hawaii.edu</p>

  </body>
</html>
