<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", session[:return_path], :class => "glyphicon glyphicon-chevron-left" %>
    New Person
  </h4>

  <%=bootstrap_form_for :person, :url => kapa_persons_path do %>
    <div id="person_form">
      <%=render :partial => "kapa/persons/person_form" %>
    </div>
    <%=render :partial => "/kapa/layouts/controls" if update? %>
  <% end %>

<% end %>

