<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New Site
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#site_profile_tab" data-toggle="tab">Profile</a></li>
    </ul>

    <div class="tab-content">
      <div id="site_profile_tab" class="tab-pane active">
        <%=bootstrap_form_for :practicum_site, :url => kapa_practicum_sites_path do |f| %>
          <%=render :partial => "/kapa/practicum/site_form", :locals => {:f => f}%>
          <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

