<% content_for(:box1) do %>
  <h4 class="section-header divider">
    <%=link_to "", params[:return_path], :class => "glyphicon glyphicon-chevron-left" %>
    New User Assignment
  </h4>

  <%=bootstrap_form_for :user_assignment, :url => kapa_user_assignments_path(:return_path => params[:return_path]) do |f| %>
    <%=render :partial => "user_assignment_form" %>
    <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
  <% end %>
<%end%>