<% content_for(:box1) do %>
  <%=render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    Award
  </h4>

  <div class="row">
    <%=bootstrap_form_for :award, :url => kapa_faculty_award_path(:id => @award), :html => {:method => :put, :multipart => true} do |f| %>
      <%=render :partial => "award_form", :locals => {:f => f} %>
      <div class="row"><%=render :partial => "/kapa/layouts/controls" if @current_user.write? %></div>
    <% end %>
  </div>
<% end %>
