<hr/>
<div class="text-center">

  <% unless local_assigns[:hide_more] %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-option-vertical"></span>
      </button>
      <ul class="dropdown-menu">
          <% if local_assigns[:delete_path] and destroy? %>
            <li><%=link_to("Delete", local_assigns[:delete_path], :method => :delete, "data-confirm" => "Are you sure you want to delete?") %></li>
          <% end %>
          <%=yield %>
      </ul>
    </div>
  <% end %>

  <% unless local_assigns[:hide_cancel] %>
    <%=button_to_link "Cancel", session[:return_path], "data-confirm" => "Are you sure you want to discard changes?", :icon => "glyphicon-ban-circle" %>
  <% end %>

  <% unless local_assigns[:hide_update] or local_assigns[:hide_save] %>
    <button class="btn btn-primary" name="commit" type="submit"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> <%=local_assigns[:save_text] || "Save" %></button>
  <% end %>

</div>
