<p class="text-center">
  <% if defined? delete_path %>
    <%=button_to_link "Delete", delete_path, :method => :delete, "data-confirm" => "Proceed with deletion?", :class => "btn-danger", :icon => "glyphicon-remove" %>
  <% end %>
  <%=yield %>
  <% unless defined? hide_update %>
    <button class="btn btn-primary" name="commit" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
  <% end %>
</p>
