<hr/>
<div class="col-sm-12 text-center">

  <%=yield %>

  <% unless local_assigns[:hide_cancel] %><%=button_to_link "Cancel", session[:return_path], "data-confirm" => "Are you sure you want to discard changes?", :icon => "glyphicon-ban-circle" %><% end %>

  <% unless local_assigns[:hide_update] or local_assigns[:hide_save] %>
    <button class="btn btn-primary" name="commit" type="submit"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> <%=local_assigns[:save_text] || "Save" %></button>
  <% end %>

</div>
