<p class="text-center">
  <% unless defined? hide_update %>
    <button class="btn btn-primary" name="commit" type="submit"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
    <button class="btn btn-default" name="commit" type="reset"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Cancel</button>
  <% end %>
  <% if defined? delete_path %>
    <%=button_to_link "Delete", delete_path, :method => :delete, "data-confirm" => "Proceed with deletion?", :icon => "glyphicon-trash" %>
  <% end %>
  <%= yield %>
</p>
