<p class="center">
  <br>
  <% unless defined? hide_update %>
    <input class="btn btn-default" name="commit" type="submit" value="Save">
    <input class="btn btn-default" name="commit" type="reset" value="Reset">
  <% end %>
  <% if defined? delete_path %>
    <%=link_to content_tag(:i, "", :class => "glyphicon glyphicon-trash") + " Delete", delete_path, {:method => :delete, "data-confirm" => "Proceed with deletion?", :class => "btn btn-default"} %>
  <% end %>
  <%= yield %>
</p>
