<%= bootstrap_fields_for :person_assignment do |f| %>
<div class="row">
  <div class="col-sm-6">
    <%=f.property_select :type, :name => "t9_person_assignment_type" %>
  </div>

  <div class="col-sm-6">
    <%=f.text_area :note, :size => "5x7" %>
  </div>
</div>
<% end %>
