<%=bootstrap_fields_for :bulk_message do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :title %>
      <%=f.text_area :body %>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
<% end %>
