<% content_for(:box1) do %>
  <h4 class="section-header divider">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New Bulk Message
  </h4>

  <%=bootstrap_form_for :bulk_message, :url => kapa_bulk_messages_path do |f| %>
    <%=render :partial => "bulk_message_form" %>
    <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
  <% end %>
<%end%>