<% content_for(:box1) do %>
  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New Term
  </h4>

  <div>
    <%=bootstrap_form_for :term, :url => kapa_admin_terms_path do %>
      <%=render :partial => "/kapa/admin/term_form" %>
      <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
    <% end %>
  </div>
<% end %>
