<% content_for(:box1) do %>
  <%= render :partial => "/kapa/persons/person_detail" %>

  <h4 class="section-header divider">
    Publications
  </h4>

  <div>
    <%= bootstrap_form_for :publication, :url => kapa_faculty_publication_path(:id => @publication), :html => {:method => :put, :multipart => true} do |f| %>
      <%= render :partial => "publication_form", :locals => {:f => f} %>
      <%= render :partial => "/kapa/layouts/controls" if @current_user.write? %>
    <% end %>
  </div>
<% end %>
