<% content_for(:head) do %>
  <style>
    .jumbotron {
      background-color: #eeeeee;
      color: inherit;
      margin-bottom: 0px;
      padding: 30px;
    }

    .right-col {
      padding: 120px 0 0 0;
      float: none;
      display: inline-block;
    }
  </style>
<% end %>

<% content_for(:box1) do %>
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron">
        <%=t :kapa_welcome_html%>
      </div>
    </div>

    <div class="col-md-4 right-col">
      <h3>Hi <%=@current_user.person.first_name %> <%=@current_user.person.last_name %>,</h3>

      <p>Your last login was <%=@current_user.updated_at %>.</p>
    </div>
  </div>
<% end %>
