<% content_for(:box1) do %>

  <h4>Application Error</h4>
  <br>
  <p><%=flash[:notice] %></p>
  <p>If this error persists, please <%=mail_to_support "contact"%> TDP tech support office to submit a support request. We wiil take a look at the issue shortly.</p>

<% end %>
