<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <% for assessment_criterion in @assessment_rubric.assessment_criterions %>
        <th class="center"><%=content_tag :div, abbr(assessment_criterion.criterion_desc, assessment_criterion.criterion) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% for course_registration in @course_registrations %>
      <tr>
        <td><%=course_registration.person.id_number %></td>
        <td><%=link_to_if @current_user.read?(:kapa_main_persons), abbr(course_registration.person.full_name), kapa_main_person_path(:id => course_registration.person_id, :focus => :course) %></td>
        <% for assessment_criterion in @assessment_rubric.assessment_criterions %>
          <% index = "#{course_registration.id}_#{assessment_criterion.id}" %>
          <td><%=score_select(:assessment_scores, index, :value => @table[index], :next_id => next_id(:assessment_score, index), :type => assessment_criterion.type, :type_option => assessment_criterion.type_option) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
