<%=bootstrap_fields_for :contact_list do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%=f.text_field :name %>
      <%=f.text_area :description %>
      <%=f.person_select :person_ids, {:label => "Contact List Members"}, {:multiple => true} %>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
<% end %>
