/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.section-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 30px;
}

.section-header a.glyphicon {
  color: #7C7C7C;
  text-decoration: none;
  margin-right: 12px;
}

.section-header a.glyphicon:hover {
  color: #333333;
}
