/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require bootstrap-multiselect
 *= require_self
 *= require_tree .
*/

.section-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 30px;
}

.section-header.divider {
  margin-top: 30px;
}

.section-header a.glyphicon {
  color: #7C7C7C;
  text-decoration: none;
  margin-right: 12px;
}

.section-header a.glyphicon:hover {
  color: #333333;
}

.right {
  text-align: right;
}

.tabs {
  margin-top: -20px;
}

.tab-content {
  margin-top: 24px;
}

.kapa-datepicker.form-control[readonly] {
  cursor: default;
  background-color: #FFFFFF;
  opacity: 1;
}

/* TODO: Fix so that multiselect is not on the same line as label */

/* Fix so that multiselect spans the width of the parent container */
.kapa-multiselect-btn-group, .kapa-multiselect-btn {
  width: 100%;
}

/* Aligns multiselect button text to the left */
button.kapa-multiselect-btn {
  text-align: left;
}

/* Fix so that multiselect dropdown is not covered by tab boundaries (see admin/programs/show) */
/* Note: Setting a positive z-index so the dropdown appears above the other tabs does not work */
ul.multiselect-container.dropdown-menu {
  position: relative;
}

.form-block {
  margin-top: 24px;
}

/* Places form acknowledgement text inline with the checkbox */
.form-agreement > div:first-of-type > label {
  display: inline;
}

.form-notice {
  font-style: italic;
}
