<% content_for(:box1) do %>

<h4>New System Property</h4>

<%=label_form_for :property, :url => {:action => :create}, :remote => true do |f| %>
  <%=render :partial => "/admin/property_form", :locals => {:f => f} %>
  <%=controls %>
<% end %>

<%=link_to "Back", :action => :list %>

<% end %>