<% content_for(:box1) do %>
  <h4 class="section-header">
    <%=link_to "",  {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New Text Doc Template
  </h4>

  <div class="row">
    <div class="col-sm-8">
    <%=bootstrap_form_for :text_template, :url => kapa_text_templates_path do |f| %>
      <%=f.text_field :title %>
      <%=render :partial => "/kapa/layouts/controls" if update? %>
    <% end %>
    </div>
  </div>
<% end %>
