<% content_for(:box1) do %>

  <h4 class="section-header">
    <%=link_to "", {:action => :index}, :class => "glyphicon glyphicon-chevron-left" %>
    New Assessment
  </h4>

  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#rubric_profile_tab" data-toggle="tab">Profile</a></li>
    </ul>

    <div class="tab-content">
      <div id="rubric_profile_tab" class="tab-pane active">
        <%=bootstrap_form_for :assessment_rubric, :url => kapa_assessment_rubrics_path do |f| %>
          <%=render :partial => "rubric_form", :locals => {:f => f} %>
          <%=render :partial => "/kapa/layouts/controls" if @current_user.write? %>
        <% end %>
      </div>
    </div>

  </div>

<% end %>